<h2>Add an author</h2>
<form action="/authors/" method="post">
    <input type="text" name="name" id="" placeholder="Name..."><br />
    <input type="text" name="mustacheSize" id="" placeholder="You know, in cm">
    <button type="submit" >Add Author</button>
</form>